<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-shop</title>
    <style>
      .code-box { 
        border:1px solid red;
        width: fit-content;
        font-weight: bold;
        padding: 3px;
      }
      h1 { 
        color: blueviolet
      }
      p { 
       color: #101010;
       font-size:18px; 
      }
    </style>
  </head>
  <body>
    <h1>Hi {{name}}</h1>
    <p>We received a request to reset your password on your E-shop Account.</p>
    <div class="code-box"> {{code}}</div>
    <span>you can use this code for 10 min only</span>
    <p>Enter this code to complete the reset.</p>
    <p>Thanks for helping us keep your account secure</p>
    <p>E-shop team</p>
  </body>
</html>